.vicowa-editor .tab-specific-button-bar
{
	position: absolute;
	top: 0.5em;
	left: .5em;
	width: 2em;
}

.vicowa-editor .tab-specific-button-bar .button
{
	position: relative;
	margin-bottom: 0.5em;
	width: 100%;
	height: 2em;
	border: none;
	box-shadow: 1px 1px 3px gray;
	outline: none;
}

.vicowa-editor .tab-specific-button-bar .button .imagecontainer
{
	position: absolute;
	left: 0.1em;
	right: 0.1em;
	top: 0.1em;
	bottom: 0.1em;
	background-repeat: no-repeat;
	background-size: 100%;
}

.vicowa-editor .tab-specific-button-bar .button:hover
{
	position: relative;
	left: -1px;
	top: -1px;
	box-shadow: 2px 2px 3px gray;
}

.vicowa-editor .tab-specific-button-bar .button:active
{
	position: relative;
	left: 1px;
	top: 1px;
	box-shadow: 0px 0px 3px green;
}

.vicowaeditor .editor,
.vicowaeditor .tab-content
{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.vicowa-editor .editor-tab-content
{
    position: absolute; 
    top: 0.5em; 
    left: 3em; 
    bottom: 0; 
    right: 0;
    height: auto;
    border: 1px solid gray;
    background-color: #e0eef7;
}

/*
.vicowa-editor .tab-content
{
    position: absolute; 
    top: 1.8em; 
    left: 0; 
    right: 0;
    bottom: 0;
    border-top: 1px solid grey;
    display: none;
    box-shadow: 0 0 3px Gray;
}
 
.vicowa-editor .editor-tab-content .iframe-container
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.vicowa-editor .editor-tab-content .iframe-container iframe
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.vicowa-editor .editor-tab-content.ace-tm .ace_scroller
{
    background-color: transparent;
}
 
.vicowa-editor .tab-specific-button-bar .edit-button
{
    display: block;
}
 
.vicowa-editor .edit-button:hover
{
    border: 1px solid #BBB;
    border-radius: 3px;
    background-color: #EEE;
}
 
.vicowa-editor .edit-button.disabled,
.vicowa-editor .edit-button.disabled:hover
{
    border: 1px solid #DDD;
    background-color: #DDD;
    border-radius: 0;
    color: gray;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	opacity: 0.5;
}
 

*/